################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThoNguyen2022/FileContentIndex
/.vs/ThoNguyen2022/v17
/.vs
